body {
}

.banner {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
  }

  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
  }

  .banner .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    max-width: 700px;
  }

  .banner .content h3 {
    font-size: 3rem;
    font-weight: bold;
  }

  .banner .content span {
    color: white;
  }

  .banner .content p {
    margin: 20px 0;
    font-size: 1.1rem;
  }
